#about-page {
  min-height: calc(100vh - 149px);

  .about-container {
    padding: 2rem;
  }

  .heading {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .text {
    margin-top: 1rem;
  }

  .back-button {
    margin: 1rem 0;
  }
}
