#profile-card-container {
  padding: 2rem;

  .profile-picture {
    width: 250px;
    height: 250px;
    font-size: 160px;
  }

  .card-divider {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
