.search-bar-container {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 800px;

  .search-input {
    margin-left: 2px;
    flex: 1;
  }

  .search-button {
    padding: 10px;
  }
}
